.flex-container {
    display: flex;
    height: 400px;
}

.flex-container > div {
    width: 33%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.row,
.row--shrink {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
}

.row--shrink {
    flex-shrink: 0;
    box-sizing: border-box;
}

.row {
    flex: 1;
    min-height: 0;
}

.header {
    font-size: xx-large;
}

.input {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 5px;
    align-content: center;
    vertical-align: middle;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    margin: 5px;
    min-height: 50px;
    height: 100%;
    width: 100%;
}

.large-text {
    font-size: 80px;
}

.medium-text {
    font-size: 40px;
}

.answer {
    color: green;
}

.play {
    cursor: pointer;
    color: green;
}

.count-down {
    color: orange;
}

.correct {
    color: green;
    user-select: none;
}

.incorrect {
    color: red;
    user-select: none;
}

.button {
    display: block;
    width: 100%;
    margin: 5px;
    height: 50px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: rgb(90, 186, 255);
    border: 0px;
    border-radius: 5px;
}
