.answer {
  color: green;
}

#errors {
  font-size: 25px;
  white-space: pre-line;
}

#score {
  font-size: 50px;
}

#timer {
  font-size: 75px;
}

#screen {
  font-size: 120px;
}

#player {
  font-size: 120px;
  text-align: center;
  caret-color: transparent;
}
